APP_NAME=Star
APP_ENV=local
APP_KEY=
APP_DEBUG=true

DB_CONNECTION=landlord
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=star_landlord
DB_USERNAME=root
DB_PASSWORD=secret

TENANT_DB_PREFIX=star_tenant_
